<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Retiros</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Solicitudes de retiros</li>
        </ol>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <!--Little Profile widget-->
    <div class="col-lg-3 col-xlg-2">
        <div class="card">

            <div class="card-body">

                <h3 class="box-title m-b-0">Busqueda</h3>
                <p class="text-muted m-b-30 font-13">busqueda retiro</p>

                <div class="row">

                    <div class="col-sm-12 col-xs-12">

                        <form [formGroup]="retiroForm" (ngSubmit)="this.listar()">

                            <div class="form-group">
                                <label for="usuarios_id">ID</label>

                                <input formControlName="usuarios_id" type="number" class="form-control"
                                    name="usuarios_id" placeholder="Agregar usuario ID">

                                <span
                                    *ngIf="this.retiroForm.get('usuarios_id').touched && this.retiroForm.get('usuarios_id').invalid">
                                    Introduzca un usuario ID
                                </span>
                                <span *ngIf="this.retiroForm.get('usuarios_id').errors?.maxlength">
                                    El usuario ID debe tener máximo 50 carateres
                                </span>
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>

                                <input formControlName="email" type="text" class="form-control" name="email"
                                    placeholder="Agregar email">

                                <span
                                    *ngIf="this.retiroForm.get('email').touched && this.retiroForm.get('email').invalid">
                                    Introduzca un email
                                </span>
                                <span *ngIf="this.retiroForm.get('email').errors?.maxlength">
                                    El email debe tener máximo 50 carateres
                                </span>
                            </div>

                            <div class="form-group">
                                <label for="nombre">Nombre</label>

                                <input formControlName="nombre" type="text" class="form-control" name="nombre"
                                    placeholder="Agregar nombre">

                                <span
                                    *ngIf="this.retiroForm.get('nombre').touched && this.retiroForm.get('nombre').invalid">
                                    Introduzca un nombre
                                </span>
                                <span *ngIf="this.retiroForm.get('nombre').errors?.maxlength">
                                    El nombre debe tener máximo 50 carateres
                                </span>
                            </div>

                            <div class="form-group">
                                <label for="estatus">Estatus</label>
                                <select formControlName="estatus" class="form-control" name="estatus">
                                    <option value="A">Activo</option>
                                    <option value="I">Inactivo</option>
                                    <option value="E">Eliminado</option>
                                    <option value="D">Depositado</option>
                                    <option value="P">Pendiente</option>
                                    <option value="X">Rechazado</option>
                                </select>

                                <span
                                    *ngIf="this.retiroForm.get('estatus').touched && this.retiroForm.get('estatus').invalid">
                                    Seleccione un valor
                                </span>

                            </div>

                            <button [disabled]="this.retiroForm.invalid" type="submit"
                                class="btn btn-info waves-effect waves-light m-r-10">Buscar</button>
                            <button type="reset" class="btn btn-inverse waves-effect waves-light">Cancelar</button>

                        </form>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <!--Little Profile widget-->
    <div class="col-lg-9 col-xlg-10">

        <div class="card">

            <div class="card-body">

                <div class="table-responsive">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Email</th>
                                <th>Cuenta Bancaria</th>
                                <th>Monto</th>
                                <th>Descripción</th>
                                <th>Estatus</th>
                                <th>Creado</th>
                                <th>Actualizado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let retiro of retiros">
                                <th scope="row">{{ retiro.id | number}}</th>
                                <td>{{ retiro.usuario.email }}</td>
                                <td>{{ retiro.ctaBancaria.nb_banco }}</td>
                                <td>{{ retiro.monto | number }}</td>
                                <td>{{ retiro.descripcion }}</td>
                                <td>
                                    <span [ngSwitch]="retiro.estatus">
                                        <span *ngSwitchCase="'A'">Activo</span>
                                        <span *ngSwitchCase="'I'">Inactivo</span>
                                        <span *ngSwitchCase="'E'">Eliminado</span>
                                        <span *ngSwitchCase="'D'">Depositado</span>
                                        <span *ngSwitchCase="'P'">En proceso</span>
                                        <span *ngSwitchCase="'X'">Rechazado</span>
                                        <span *ngSwitchDefault>(Estatus no existe)</span>
                                    </span>
                                </td>
                                <td>{{ retiro.created_at | date:'dd/MM/y hh:mm:ss a'}}</td>
                                <td>{{ retiro.updated_at | date:'dd/MM/y hh:mm:ss a'}}</td>
                                <td>
                                    <button (click)="this.open(confirm, retiro)" type="button"
                                        class="btn btn-sm btn-icon btn-pure btn-outline">
                                        <i class="ti-close" aria-hidden="true"></i>
                                    </button>
                                    <button (click)="this.open(content, retiro)" type="button"
                                        class="btn btn-sm btn-icon btn-pure btn-outline">
                                        <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
                                    </button>
                                    <button *ngIf="retiro.estatus != 'D'" (click)="this.open(deposit, retiro)" type="button"
                                        class="btn btn-sm btn-icon btn-pure btn-outline">
                                        <i class="fa fa-university fa-lg" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr *ngIf="this.retiros.length < 1">
                                <td colspan="10">
                                    <p class="text-danger text-center">{{ this.error.message }}</p>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>

                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                            (pageChange)="listar()">
                        </ngb-pagination>
                    </div>

                </div>

                <ng-template #confirm let-modal>

                    <div class="modal-header">
                        <h4 class="modal-title">Eliminar solicitud de retiro</h4>
                        <button type="button" class="close" aria-label="Close button"
                            (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <strong>¿Tú estás seguro que quieres eliminar la solicitud de retiro <span
                                    class="text-primary">"#{{ this.retiro.id }}"</span>
                                de la lista de retiros?
                            </strong>
                        </p>
                        <p>Toda la información asociada a esta solicitud de retiro será eliminada permanentemente.
                            <span class="text-danger">Esta operación no puede ser deshecha.</span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary"
                            (click)="modal.dismiss('cancel click')">Cancel</button>
                        <button type="button" ngbAutofocus class="btn btn-danger"
                            (click)="modal.close('Eliminar')">Ok</button>
                    </div>

                </ng-template>

                <ng-template #deposit let-modal>

                    <div class="modal-header">
                        <h4 class="modal-title">Confirmar transferencia de fondos</h4>
                        <button type="button" class="close" aria-label="Close button"
                            (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <strong>¿Tú estás seguro que quieres confirmar la transferencia de fondos de la solicitud de retiro <span
                                    class="text-primary">"#{{ this.retiro.id }}"</span>
                                ? 
                            </strong>
                        </p>
                        <p>Una vez confirmada se le notificará al usuario que los fondos fueron transferidos.
                            <span class="text-danger">Esta operación no puede ser deshecha.</span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary"
                            (click)="modal.dismiss('cancel click')">Cancel</button>
                        <button type="button" ngbAutofocus class="btn btn-danger"
                            (click)="modal.close('Depositado')">Ok</button>
                    </div>

                </ng-template>

                <ng-template #content let-modal>

                    <div class="modal-header">
                        <h4 class="modal-title">Solicitud de retiro</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <form class="form-horizontal" role="form">

                            <div class="form-body">

                                <ul ngbNav #nav="ngbNav" [(activeId)]="active" (navChange)="onNavChange($event)"
                                    class="nav-tabs">

                                    <li [ngbNavItem]="1">

                                        <a ngbNavLink>Datos retiro</a>

                                        <ng-template ngbNavContent>

                                            <form class="form-horizontal" role="form">

                                                <div class="form-body">

                                                    <div class="row">

                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Nombre banco:</label>

                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.ctaBancaria.nb_banco }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Número de cuenta:</label>

                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.ctaBancaria.nu_cuenta }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--/span-->
                                                    </div>
                                                    <!--/row-->
                                                    <div class="row">

                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Tipo de cuenta:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        <span *ngIf="this.retiro.ctaBancaria.tipo_cuenta"
                                                                        [ngSwitch]="this.retiro.ctaBancaria.tipo_cuenta">
                                                                        <p *ngSwitchCase="'C'"
                                                                            class="form-control-static">
                                                                            Corriente</p>
                                                                        <p *ngSwitchCase="'A'"
                                                                            class="form-control-static">
                                                                            Ahorro</p>
                                                                        <p *ngSwitchDefault class="form-control-static">
                                                                            (Estatus
                                                                            no existe)
                                                                        </p>
                                                                    </span>
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Titular de la cuenta:</label>

                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.ctaBancaria.titular_cta }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--/span-->
                                                    </div>

                                                    <div class="row">

                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Banco ciudad/estado:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.ctaBancaria.banco_city_state }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Dirección 1:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.ctaBancaria.direccion1 }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="row">

                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Dirección 2:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.ctaBancaria.direccion2 }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Moneda:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.ctaBancaria.moneda.moneda_iso | uppercase }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--/span-->
                                                    </div>

                                                    <div class="row">

                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Estatus:</label>
                                                                <div class="col-md-9">
                                                                    <span *ngIf="this.retiro.estatus"
                                                                        [ngSwitch]="this.retiro.estatus">
                                                                        <p *ngSwitchCase="'A'"
                                                                            class="form-control-static">
                                                                            Activo</p>
                                                                        <p *ngSwitchCase="'I'"
                                                                            class="form-control-static">
                                                                            Inactivo</p>
                                                                        <p *ngSwitchCase="'E'"
                                                                            class="form-control-static">
                                                                            Eliminado</p>
                                                                        <p *ngSwitchDefault class="form-control-static">
                                                                            (Estatus
                                                                            no existe)
                                                                        </p>
                                                                    </span>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Código BIC:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.ctaBancaria.co_bic }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="row">

                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Código ABA:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.ctaBancaria.co_abac }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">País:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.ctaBancaria.pais }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="row">

                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Creado:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.created_at | date:'dd/MM/y hh:mm:ss a' }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label
                                                                    class="control-label col-md-3">Modificado:</label>

                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.updated_at | date:'dd/MM/y hh:mm:ss a' }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--/span-->
                                                    </div>

                                                </div>

                                            </form>

                                        </ng-template>

                                    </li>

                                    <li [ngbNavItem]="2">

                                        <a ngbNavLink>Datos usuario</a>

                                        <ng-template ngbNavContent>

                                            <form class="form-horizontal" role="form">

                                                <div class="form-body">

                                                    <div class="row">

                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Nombre:</label>

                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.usuario.nombre }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Apellido:</label>

                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.usuario.apellido }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--/span-->
                                                    </div>
                                                    <!--/row-->
                                                    <div class="row">

                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Email:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.usuario.email }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Dirección:</label>

                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.usuario.direccion }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--/span-->
                                                    </div>

                                                    <div class="row">

                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Latitud:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.usuario.latitud }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Longitud:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.usuario.longitud }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="row">

                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Ciudad:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.usuario.ciudad }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Teléfono:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.usuario.telefono }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--/span-->
                                                    </div>

                                                    <div class="row">

                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Estatus:</label>
                                                                <div class="col-md-9">
                                                                    <span *ngIf="this.retiro.usuario.estatus"
                                                                        [ngSwitch]="this.retiro.usuario.estatus">
                                                                        <p *ngSwitchCase="'A'"
                                                                            class="form-control-static">
                                                                            Activo</p>
                                                                        <p *ngSwitchCase="'I'"
                                                                            class="form-control-static">
                                                                            Inactivo</p>
                                                                        <p *ngSwitchCase="'E'"
                                                                            class="form-control-static">
                                                                            Eliminado</p>
                                                                        <p *ngSwitchDefault class="form-control-static">
                                                                            (Estatus
                                                                            no existe)
                                                                        </p>
                                                                    </span>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="row">

                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label class="control-label col-md-3">Creado:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.usuario.created_at | date:'dd/MM/y hh:mm:ss a' }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">

                                                            <div class="form-group row">

                                                                <label
                                                                    class="control-label col-md-3">Modificado:</label>

                                                                <div class="col-md-9">
                                                                    <p class="form-control-static">
                                                                        {{ this.retiro.usuario.updated_at | date:'dd/MM/y hh:mm:ss a' }}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!--/span-->
                                                    </div>

                                                    <div class="row">

                                                        <div class="col-md-12">

                                                            <div class="form-group row">

                                                                <label
                                                                    class="control-label text-center col-md-12">Foto</label>
                                                                <div class="col-md-12">
                                                                    <img *ngIf="this.retiro.usuario.foto"
                                                                        src="{{ this.retiro.usuario.foto }}"
                                                                        class="rounded mx-auto d-block" alt="Imagen" />
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </form>

                                        </ng-template>

                                    </li>

                                </ul>

                                <div [ngbNavOutlet]="nav" class="mt-2"></div>

                            </div>

                        </form>

                    </div>

                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button> -->
                        <button ngbAutofocus type="button" (click)="modal.close('Close click')"
                            class="btn btn-inverse waves-effect waves-light">Cerrar</button>
                    </div>

                </ng-template>

            </div>

        </div>

    </div>

</div>
<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->