<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Monedas</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">monedas</li>
        </ol>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <!--Little Profile widget-->
    <div class="col-lg-5 col-xlg-4">
        <div class="card">
            <div class="card-body">
                <h3 class="box-title m-b-0">Nueva moneda</h3>
                <p class="text-muted m-b-30 font-13">Moneda </p>

                <div class="row">

                    <div class="col-sm-12 col-xs-12">

                        <form [formGroup]="this.monedaForm" (ngSubmit)="this.submit()">

                            <div class="form-group">
                                <label for="moneda_iso">Moneda ISO</label>
                                <input formControlName="moneda_iso" type="text" class="form-control" name="moneda_iso"
                                    placeholder="Agregar moneda ISO">

                                <span
                                    *ngIf="this.monedaForm.get('moneda_iso').touched && this.monedaForm.get('moneda_iso').invalid">
                                    Introduzca un nombre
                                </span>
                                <span *ngIf="this.monedaForm.get('moneda_iso').errors?.maxlength">
                                    La moneda ISO debe tener máximo 3 carateres
                                </span>
                            </div>

                            <div class="form-group">
                                <label for="descripcion">Descripción</label>
                                <input formControlName="descripcion" type="text" class="form-control" name="descripcion"
                                    placeholder="Agregar descripción">

                                <span
                                    *ngIf="this.monedaForm.get('descripcion').touched && this.monedaForm.get('descripcion').invalid">
                                    Introduzca una descripción
                                </span>
                                <span *ngIf="this.monedaForm.get('descripcion').errors?.maxlength">
                                    La descripción debe tener máximo 50 carateres
                                </span>
                            </div>

                            <div class="form-group">
                                <label for="estatus">Estatus</label>
                                <select formControlName="estatus" class="form-control" name="estatus">
                                    <option>A</option>
                                    <option>I</option>
                                </select>

                                <span
                                    *ngIf="this.monedaForm.get('estatus').touched && this.monedaForm.get('estatus').invalid">
                                    Seleccione un valor
                                </span>
                            </div>

                            <button [disabled]="this.monedaForm.invalid" type="submit"
                                class="btn btn-info waves-effect waves-light m-r-10">Enviar</button>
                            <button (click)="this.reset()" type="reset"
                                class="btn btn-inverse waves-effect waves-light">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--Little Profile widget-->
    <div class="col-lg-7 col-xlg-8">
        <div class="card">

            <div class="card-body">

                <div class="table-responsive">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Moneda ISO</th>
                                <th>Descripción</th>
                                <th>Estatus</th>
                                <th>Creado</th>
                                <th>Actualizado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let moneda of monedas">
                                <th scope="row">{{ moneda.id | number}}</th>
                                <td>{{ moneda.moneda_iso }}</td>
                                <td>{{ moneda.descripcion }}</td>
                                <td>
                                    <span [ngSwitch]="moneda.estatus">
                                        <span *ngSwitchCase="'A'">Activo</span>
                                        <span *ngSwitchCase="'I'">Inactivo</span>
                                        <span *ngSwitchCase="'E'">Eliminado</span>
                                        <span *ngSwitchDefault>(Estatus no existe)</span>
                                    </span>
                                </td>
                                <td>{{ moneda.created_at | date:'dd/MM/y hh:mm:ss a'}}</td>
                                <td>{{ moneda.updated_at | date:'dd/MM/y hh:mm:ss a'}}</td>
                                <td>
                                    <button (click)="this.open(confirm, moneda)" type="button"
                                        class="btn btn-sm btn-icon btn-pure btn-outline">
                                        <i class="ti-close" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline"
                                        (click)="consultar(moneda)">
                                        <i class="ti-pencil-alt" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr *ngIf="this.monedas.length < 1">
                                <td colspan="10">
                                    <p class="text-danger text-center">{{ this.error.message }}</p>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>

                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                            (pageChange)="listar()">
                        </ngb-pagination>
                    </div>

                </div>

                <ng-template #confirm let-modal>

                    <div class="modal-header">
                        <h4 class="modal-title">Eliminar moneda</h4>
                        <button type="button" class="close" aria-label="Close button"
                            (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <strong>¿Tú estás seguro que quieres eliminar la moneda <span
                                    class="text-primary">"{{ this.moneda.moneda_iso }}"</span>
                                de la lista de monedas?
                            </strong>
                        </p>
                        <p>Toda la información asociada a esta moneda será eliminada permanentemente.
                            <span class="text-danger">Esta operación no puede ser deshecha.</span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary"
                            (click)="modal.dismiss('cancel click')">Cancel</button>
                        <button type="button" ngbAutofocus class="btn btn-danger"
                            (click)="modal.close('Eliminar')">Ok</button>
                    </div>

                </ng-template>

            </div>

        </div>

    </div>

</div>
<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->